@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 80vh;
  padding: 2em;
  color: #fff;
  background-color: #00f;
}

.vue-icon-bg {
  background-image: url('../svg/icon.svg');
  background-size: cover;
}
