<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
  </head>
  <body>
    hello world
    {% set foo = 'value' %}
    <h1 class="text-2xl font-bold">{{ foo }}</h1>
    <main>
      <div data-ref="vue">Loading...</div>
      <div data-ref="content"></div>
    </main>
  </body>
</html>
