{% extends '@layouts/base.twig' %}

{% block body %}
  hello world
  {% include '@components/component.twig' with { content: 'Lorem ipsum' } %}
  {% set foo = 'value' %}
  <h1 class="text-2xl font-bold">{{ foo }}</h1>
  <main>
    <div data-ref="vue">Loading...</div>
    <div data-ref="content"></div>
    <div data-component="Component"></div>
  </main>
{% endblock %}
